.Auths {
  z-index: 10;
  color: black;
  background-color: rgba(white, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;

  .modal {
    background-color: white;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 5px white;
    border-radius: 4px;
    padding: 2rem;
    position: relative;

    a {
      color: black;
      text-decoration: underline;
    }

    p {
      text-align: center;
    }

    .loader {
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    .close {
      border: none;
      font-size: 2rem;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: black;
    }

    form {
      width: 100%;

      .forgot {
        margin: -1.5rem 0 1rem 0;
        text-align: right;
      }

      .button {
        font-size: 1rem;
        color: black;
        background-color: white;
        border-radius: 4px;
        width: 100%;
        height: 3rem;
        margin: 1rem 0;
        border: none;
      }

      .input-wrapper {
        margin: 2rem 0;
        max-width: 30rem;
        flex: 1;
        width: 100%;

        .input {
          border: 1px solid black;
          border-radius: 4px;
          padding: 0.5rem;
          padding-left: 2rem;
          width: 100%;
        }

        .icon-input {
          position: absolute;
          margin-left: 0.5rem;
          color: black
        }
      }
    }
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
