.login-content {
    border-radius: 10px;
    width: 70%;
    background: white;
    position: relative;
    display: inline-block;
    // width: 270px;
    // min-height: 700px;
    border-radius: 8px;
    padding: 10px 13px 35px;
    background: #fff;
    box-shadow: 0 6px 20px rgba(17,26,104,.15);
    text-align: center;
    margin-right: 15px;
    &__logo {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 21rem;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
        // display: inline-block;
        // // width: 270px;
        // // min-height: 700px;
        // border-radius: 8px;
        // padding: 10px 13px 35px;
        // background: #fff;
        // box-shadow: 0 6px 20px rgba(17,26,104,.15);
        // text-align: center;
        // margin-right: 15px;
        h1 {
            text-align: center;
        }
    img {
        width: 5vw;
        margin-left: 350px;
        justify-content: center;

       
      }
      h3 {
          text-align: center;
          margin-left: 20px;
      }
    }
}

.login-form {
    display: block;
    position: relative;
    text-align: center;
    display: inline-block;
    form {
        width: 70%;
        padding: 0 15px;
        margin: 10px 20px 10px 50px;
        position: relative;
        display: inline-block;
    }
    input {
        padding: 10px 30px;
        display: inline-block;
        position: relative;
        border-radius: 2rem;
        margin-top: 25px;
        margin-left: 35px;
        border: none;
        text-transform: uppercase;
        cursor: text;
        background-color: #ECE7E7;
    }
    button {
        display: block;
        position: relative;
        padding: 10px 90px;
       background-color: #FE024E;
       border-radius: 10px;
       position: absolute;
       cursor: pointer;
        justify-items: center;
       margin-top: 25px;
        margin-left: 125px;
    }

}
.footer {
    margin-top: 70px;
    padding-top: 20px;
}
.header-title {
    background-color: #ffa31a;
    color: black;
    text-align: center;
    display: inline;
  }